/* Устанавливаем шрифты */
p, h1, h2, h3, h4, h5, h6, .opensansed {
    font-family: OpenSansRegular; 
}

/* Кнопки с нашим стилем */
.btn-outline-aqua {
  color: #333333;
  background-color: transparent;
  background-image: none;
  border-color: #333333;
}

.btn-outline-aqua:hover {
  color: #999999;
  background-color: #343a40;
  border-color: #999999;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #999999;
  background-color: transparent;
}

.btn-outline-dark:not([disabled]):not(.disabled):active, .btn-outline-dark:not([disabled]):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}


/* Центрировать кнопки */
.col-lg-6.btn-container, .centred {
    text-align: center;
}



.card-body {
    text-align: center;
}

.uppercased {
    text-transform: uppercase;
}
